h1 {
	font-family:'Allerta Stencil';
	text-align: center;
}
.alerta{
	background-color: orange;
	color: white;
	padding: 15px;
	text-align: justify;
}
.alerta a{
	color: white;
	text-decoration: underline;
	font-weight: bold;
}
.close-btn{
	position:absolute;
	color:white;
	border:none;
	background:none;
	font-size: 17px;
	right: 15px;
	top: px;
	cursor:pointer;
}